@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;900&display=swap");
:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  position: fixed;
  background-color: white;
  width: 100%;
  z-index: 1;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 1.2rem 1rem;
}

header .menu {
  display: none;
}

.logo {
  height: 2.2rem;
}

.cta {
  text-transform: capitalize;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  padding: .6rem 1rem;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-radius: 4px;
  background-color: teal;
  color: white;
}

.hero {
  padding-top: 6rem;
}

.hero .text {
  padding: 4rem 1.5rem;
}

.hero .text h3 {
  text-transform: uppercase;
  font-size: 1rem;
  color: #008f8f;
}

.hero .text h1 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: capitalize;
  line-height: 1;
}

.hero .text h1 span {
  color: #008f8f;
}

.hero .text p {
  font-size: 1.2rem;
  line-height: 1.588;
  margin-top: 2rem;
  color: #5c5c5c;
}

.hero .text .buttons {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: .7rem;
  margin-top: 2rem;
}

.hero .text .buttons .apple-cta,
.hero .text .buttons .google-cta {
  height: 2.5rem;
}

.hero .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .img-wrapper .img {
  height: 34rem;
}

.companies {
  margin-top: 4rem;
}

.companies .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.3rem;
  width: 100%;
  -webkit-box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.11);
  padding: 1rem 0;
  overflow: hidden;
  -webkit-animation: company 4000ms;
          animation: company 4000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.companies .company {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #7d7d7d;
}

.companies .bold {
  font-weight: 900;
  font-size: 2.1rem;
  text-transform: capitalize !important;
}

.features {
  background-color: black;
  margin: 5rem 0;
  width: 100%;
}

.features .wrapper {
  padding: 6rem 2rem;
}

.features .text h3 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: .4rem;
  color: #00b3b3;
}

.features .text h2 {
  text-transform: capitalize;
  font-size: 3.3rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1.5rem;
  color: white;
}

.features .text p {
  font-size: 1.2rem;
  line-height: 1.588;
  margin-bottom: 2rem;
  color: white;
}

.features .card {
  background-color: #20bf55;
  background-image: linear-gradient(315deg, #20bf55 0%, #00aada 74%);
  border: rgba(255, 255, 255, 0.308);
  border-radius: 7px;
  height: 45vh;
  width: 100%;
  margin-bottom: 3.5rem;
}

.features .card ul {
  list-style: none;
  color: black;
}

.features .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.features .phone {
  height: 27rem;
}
/*# sourceMappingURL=main.css.map */