@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;900&display=swap');

$gradient: linear-gradient(to right, #38ef7d, #11998e);

:root {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
}


header {
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
    nav {
        display: flex;
        justify-content: space-between;
        align-content: center;
        margin: 1.2rem 1rem;
    }
    .menu {
        display: none;
    }
}

// Mobile Styling 
.logo {
    height: 2.2rem;
}

.cta {
    text-transform: capitalize;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    padding: .6rem 1rem;
    appearance: none;
    border: none;
    border-radius: 4px;
    background-color: hsl(180, 100%, 25%);
    color: hsl(0, 0%, 100%);
}

.hero {
    padding-top: 6rem;

    .text {
        padding: 4rem 2rem;

        h3 {
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: .4rem;
            color: hsl(180, 100%, 25%);
        }
        h1 {
            font-size: 3rem;
            font-weight: 900;
            text-transform: capitalize;
            line-height: 1;

            span {
                color: hsl(180, 100%, 22%);
            }
        }
        p {
            font-size: 1.05rem;
            line-height: 1.688;
            margin-top: 2rem;
            color: hsl(0, 0%, 36%);
        }

        .buttons {
            display: inline-flex;
            gap: .7rem;
            margin-top: 2rem;

            .apple-cta,
            .google-cta {
                height: 2.5rem;
            }
        }

    }

    .img-wrapper {
        display: flex;
        justify-content: center;
        align-content: center;

        .img {
            height: 34rem;
        }
    }

} // ./hero

.features {
    background-color: hsl(180, 100%, 89%);
    margin: 6rem 0;
    width: 100%;

    .wrapper {
        padding: 6rem 2rem;
    }

    .text {
        h3 {
            text-transform: uppercase;
            font-size: 1rem;
            margin-bottom: .4rem;
            color: hsl(180, 98%, 19%);
        }
        h2 {
            text-transform: capitalize;
            font-size: 2.3rem;
            font-weight: 800;
            line-height: 1;
            margin-bottom: 1.5rem;
        }
        p {
            font-size: 1rem;
            line-height: 1.688;
            margin-bottom: 2rem;
        }
    }

    .img {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .phone {
        height: 27rem;
    }

    .card {
        background-color: hsl(0, 0%, 3%);
        border-radius: 7px;
        height: 30vh;
        opacity: .6;

        ul {
            list-style: none;
            color: #fff;
        }
    }
}