:root {
    font-size: 16px;
}

*,*::before,*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Poppins',sans-serif;
}

.navbar {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    padding: .8em 0;
    gap: 5em;

    .logo {
        height: 2em;
    }

    .menu {
        height: 1.2em;
        align-self: center;
    }
}

.nav-list {
    display: none;
}

main {
    .hero-one {
        padding: 5.7em 0;

        h1 {
            text-align: center;
            text-transform: capitalize;
            font-size: 2.5em;
            line-height: 1.2;
            padding-bottom: .8em;
            color: #000000;
        }

        p {
            text-align: center;
            font-size: 1em;
            color: #4a4a4a;
            line-height: 1.5;
            padding: 0 2em;
          }

          .buttons {
            display: grid;
            grid-auto-flow: column;
            place-content: center;
            margin-top: 1.8em;
            gap: .6em;
          }

          .btn {
            height: 2.5em;
          }

          .img {
            display: flex;
            place-content: center;
            margin-top: 4em;
          }

          .image-one {
            height: 34em;
          }
    }

    .hero-two {
        margin: 2em 0;

        .title {
            text-align: center;
            text-transform: capitalize;
            font-size: 1.8em;
            color: #009587;
            padding-bottom: .4em;
          }

          .sub-title {
            text-align: center;
            font-size: .9em;
            color: #555;
            line-height: 1.5;
            padding: 0 1em;
          }

          .img-sec {
            margin: 2em;
            text-align: center;
          }

          .number {
            height: 3em;
            margin-top: 1.4em;
          }

          h2 {
            text-transform: capitalize;
            font-size: 1.2em;
            color: #282828e8;
          }

          p {
            font-size: .9em;
            color: #555;
          }

          .hero-two-img {
            display: flex;
            place-content: center;
            padding-top: 1.2em;

            img {
                height: 29em;
            }
          }
    }

    .hero-three {
      h2 {
        text-align: center;
        font-size: 1.8em;
        margin-top: 4.5em;
        margin-bottom: .72em;
      }

      .text {
        p {
          text-align: center;
          font-size: .9em;
          padding: 0 1.7em;
          color: #424242;
        }
      }

      .buttons {
        display: flex;
        place-content: center;
        gap: .5em;
        margin: 1.5em 0;
      }

      .cta {
        font-size: .8em;
        text-transform: capitalize;
        padding: .7em 2.4em;
        border-radius: .4em;
        border: none;
        cursor: pointer;
      }

      .cta1 {
        border: 2px solid #000000b9;
        background-color: transparent;
      }

      .cta2 {
        background-color: #009587;
        color: #fff;
      }
    }

    .hero-three-img {
      display: flex;
      place-content: center;
      
      img {
        height: 25em;
      }
    }

    .hero-three-text {
      padding: 2em;
      margin-top: .4em;

      img {
        height: 3em;
        filter: grayscale(100%);
        margin: .3em 0;
      }

      p {
        text-align: inherit;
        font-size: .9em;
        color: #555;
        padding-bottom: 2em;  
      }
    }

    .hero-four {
        background-color: darkcyan;
        //background: linear-gradient(-49deg, #088,#001c71);
        padding: 1em;
        margin: 1em;
        margin-bottom: 4em;
        border-radius: .9em;

        .text {
          display: flex;
          place-content: center;
          flex-direction: column;
        }

        h2 {
          text-align: center;
          color: #fff;
          padding: .6em 0;
        }

        p {
          font-size: .9em;
          text-align: center;
          color: #fff;
          padding-bottom: .8em;
        }

        .cta {
          align-self: center;
          border: none;
          font-size: .9em;
          text-transform: capitalize;
          background-color: #ffffff;
          color: #000000;
          padding: .8em 2em;
          border-radius: .4em;
          margin-bottom: 1.3em;
          margin-top: .6em;
        }
    }
}




footer {
    background-color: hsl(0, 0%, 7%);
    color: #fff;

    .top-text {
      text-align: center;
      padding: 2em 1.5em;

      h3 {
        font-size: 1.1em;
        text-transform: capitalize;
        padding-bottom: 1em;
      }

      ul {
        list-style: none;
      }

      a {
        text-decoration: none;
        color: #fff;
      }
    }

    .sec-one {
      img {
        height: 3em;
        margin-bottom: .7em;
      }

      p {
        font-size: .8em;
        line-height: 1.5;
        margin-bottom: 5em;
      }
    }
}
